# Dependencies
node_modules/
bower_components/

npm-debug.log

# meta folder
.idea/
.tern-port

#distribution
dist/
uploads/
app/tests/
reports/

# App folders

app/controller/
app/models
app/app.js

# emacs
*~
*#
.#*

# markdown file for writing SO answer
ANSWER.md

# Environment variable
.env
